{% extends "base.html" %}
{% block content %}
    <div class="card">
        <div class="card-header">
            <h2>{{ specimen.name }}</h2>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <h4>Input Values</h4>
                    <p><strong>Magnified Size:</strong> {{ specimen.magnified_size }} units</p>
                    <p><strong>Magnification Factor:</strong> {{ specimen.magnification_factor }}x</p>
                </div>
                <div class="col-md-6">
                    <h4>Result</h4>
                    <p><strong>Actual Size:</strong> {{ specimen.actual_size|floatformat:6 }} units</p>
                    <p><strong>Date Added:</strong> {{ specimen.date_added|date:"F d, Y H:i" }}</p>
                </div>
            </div>
            <div class="mt-4">
                <a href="{% url 'calculator-home' %}" class="btn btn-secondary">Back to List</a>
            </div>
        </div>
    </div>
{% endblock content %}